body {
    background-color :blanchedalmond;
    text-align : center;
}

.contents form {
    width : 250px;
    height : auto;
    margin : 10px auto;
    padding : 30px;
    border : 2px solid black;
    box-sizing : border-box;
}

footer {
    position : absolute;
    bottom : 10px;
    left : 15px;
}